@model IEnumerable<Infrastructure.Model.MailSendModel>

@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<h1>Index <a href="/Admin/Mail/Create"><i class="bi bi-file-plus"></i></a></h1>

<div class="pagetitle">
    <h1>Pages</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="~/Admin/Mail">Mail</a></li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped" id="tblList">
                        <thead>
                            <tr>
                                <th scope="col">Receiver</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Sent Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.receiver</td>
                                    <td>
                                        @item.subject
                                    </td>
                                    <td>@item.senddate</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

